/*Import Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

@font-face {
    font-family: Streamster;
    src: url(../source/fonts/SFAlienEncounters-Italic.ttf);
  }
  @font-face {
    font-family: Nixies;
    src: url(../source/fonts/NixiesRegular-anra.ttf);
  }
/****************************/
/* Preset codes toepasbaar voor elke pagina*/
* {
    box-sizing: border-box;
}

html {
   
    font-family: 'Raleway', sans-serif;
    color: #000f;
}

body {
    margin: 0 auto;
    min-height: calc(100vh - 0px);
    background-color: #202024;
}
body > section {
    padding-top: 5em;
}
nav {
    background-color: #202024;
    color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: 2px solid #fff;
    z-index: 9;
    padding: 1em;
    display: inline-flex;
}
nav img {
    width: 2em;
}
nav li {
    float: left;
    text-align: center;
    margin: 0 0.5em;
}
nav li a {
    color:#fff;
    text-decoration: none;
}
ul {
    text-decoration: none;
    margin: 0;
    list-style: none;
    padding: 0;
    width: 100%;
}

section {
    padding: 3em;
}

p {
    margin: 0;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    padding: 5px 0;
}
h1 a {
    color: #000;
    text-decoration: none;
}

img {
    width: 100%;
}

button {
    font-weight: bold;
}

/****************************/
/* Headings font en kleur */
h1,
h2,
h3 {

    color: #000;
    font-weight: bold;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
    margin: 0;
    color: #000;
}

h3 {
    font-size: 1.2em;
    text-align: center;
}

/* ------------------- */

/* homepage */
#start {
    background-color: #DBDBDD;
}
#start nav {
    display: none;
}

#start main {
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 10em;
    background: #202024;
    background-image: linear-gradient(45deg,#380CD6 10%, #E50AE7 50%, #380CD6 100%);
    background-size: 400%;
    animation:colorshift 10s linear 0s infinite;
}
#start main h1 {
    color: #fff;
}
#start main p a {
    display: block;
    padding: 1em;
    background-color: #fff;
    width: 10em;
    margin: 15px auto;
    border-radius: 0.5em;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 4px 4px 4px 1px;
}

#start section {
    max-width: 70em;
    padding: 1em;
    background-color: #DBDBDD;
    margin: 0 auto;
    padding-bottom: 29em;
}
#start section:nth-of-type(1) {
    padding: 7em;
    background-color: #DBDBDD;
}
#start .description, #start figure {
    width: 50%;
    float: left;
    text-align: left;
    padding: 5.1em;
    display: block;
    margin: 0;
    min-height: 390px;
}

#start figure {
   padding: 1em;
}
/* ------------------- */
.shirteditor {
    max-width: 75em;
    margin: 0 auto;
    color:#fff;
}
#editor main, #editor aside {
    width: 50%;
    float: left;
    min-height: calc(100vh - 330px);
    
}
#editor main h2 {
    color:#fff;
}
body > section {
    text-align: center;
    padding-bottom: 4em;
    background-color: #DBDBDD;
}
aside section {
    position: relative;
    padding: 3em;
}

aside section h2 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 50%;
    text-align: center;
    padding: inherit;
    transform: translateY(-50%);
}
label {
    position: relative;
}
legend {
    font-weight: bold;
}
span.label-text {
    position: absolute;
    background-color: #fff;
    color: #000;
    left: -65px;
    right: 0;
    /* display: inline-table; */
    padding: 0.5em;
    bottom: -44px;
    opacity: 0;
    z-index: 0;
    transition: 0.3s ease-in-out 0s;
    border: 2px solid #000;
    border-radius: 0.5em;
    width: 11em;
    text-align: center;
    font-size: medium;
    z-index: 10;
    display: none;
}
input:hover ~ span.label-text {
    opacity: 1;
    display: block;
}
fieldset {
    margin: 1em 0;
    background-color: #35353B;
    padding: 1em 1em;
}
input[type="radio" i]::before {
    content: "";
    width: 2em;
    height: 2em;
    position: absolute;
    border-radius: 2em;
    visibility: visible;
    border: 3px solid #35353B;
    transition: 0.3s ease-out 0s;

}
input[type="radio" i]:hover::before {
    border:3px dotted green;
    transform: rotate(0deg);
    animation: buttonchecked 5s linear infinite;
}

@keyframes buttonchecked {
    100% {
        transform: rotate(360deg);
    }
  }
  

input[type="radio" i]:checked::before 
{
    border:3px solid green;
}
input[type="radio" i] {
    padding: 0;
    width: 2em;
    height: 2em;
    visibility: hidden;
}



#Black-textcolor::before {
    background-color: black;
}
#White-textcolor::before {
    background-color: white;
}

#White-shirtcolor::before {
    background-color: white;
}
#Yellow-shirtcolor::before {
    background-color: #CDBA54;
}
#Red-shirtcolor::before {
    background-color: #AD0E20;
}
#Blue-shirtcolor::before {
    background-color: #718EC6;
}
#Black-shirtcolor::before {
    background-color: Black;
}
#Purple-shirtcolor::before {
    background-color: purple;
}
#Orange-shirtcolor::before {
    background-color: orange;
}
#Green-shirtcolor::before {
    background-color: Green;
}
#Gray-shirtcolor::before {
    background-color: gray;
}
#Pink-shirtcolor::before {
    background-color: Pink;
}

.font input[type="radio" i] {
    width: 0em;
    position: absolute;
    height: 0em;
    opacity: 0;
}
.font input[type="radio" i]::before{
    background-color: #000;
    width: 0em;
    height: 0em;
}
.font label {
    border-bottom: 4px solid transparent;
    padding-bottom: 0.4em;
    font-size: 0.9em;
    padding: 0 0.5em;
}
.font label:focus, .font label:hover, .font label:checked {
    border-color: white;
}
.font label:nth-of-type(1) span {
    font-family: sans-serif;
}
.font label:nth-of-type(2) span  {
    font-family: Streamster;
}
.font label:nth-of-type(3) span {
    font-family: Nixies;
}


#finaldesign .shirteditor {
    padding-top: 3em;
    min-height: 650px;
    padding-bottom: 1em;
}

#finaldesign > section {
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 5em 2em 2em 3em;
    background: #202024;
    background-image: linear-gradient(45deg,#380CD6 10%, #E50AE7 50%, #380CD6 100%);
    background-size: 400%;
    animation: colorshift 10s linear 0s infinite;
}
#finaldesign > section h1{
    color:#fff;
    font-size: 2rem;

}
#finaldesign .shirteditor aside, #finaldesign  .shirteditor main {
    width: 50%;
    float: left;
}
#finaldesign .shirteditor aside section{
    padding:1em;
    padding-top: 2em;
}
#finaldesign .shirteditor main section {
    padding: 1em;
}
#finaldesign .shirteditor main section ul li {
    margin: 1em 0;
    background-color: #35353B;
    padding: 1em 1em;
    text-align: center;
}
#finaldesign .shirteditor main section ul h3{
    color:#fff;
    position: relative;
}

#finaldesign .settings {
    padding: 1em;
    background-color: #DBDBDD;
    text-align: center;
    margin-top: 3em;
}

#finaldesign .settings button, form > button, #finaldesign .settings a {
    padding: 1em 2em;
    margin: 0 1em;
    transition: 0.3s ease-in-out 0s;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 0.5em;
    font-size: 0.8em;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    font-family: Raleway,sans-serif;
}

#finaldesign .settings button:first-child {
    background-color: #fff;
    color:#35353B;
}
#finaldesign .settings button:last-child {
    background-color: #35353B;
    color:#fff;
}
#finaldesign .settings button:hover, form > button:hover, #finaldesign .settings a:hover{
background-image: linear-gradient(45deg,#380CD6 10%, #E50AE7 50%, #380CD6 100%);
background-size: 400%;
    animation: colorshift 10s linear 0s infinite;
    color:#fff
}
/****************************/
/*+++++MEDIA QUERIES+++++*/
/*Bij de aangegeven max-width wordt de code uitgevoerd!*/
/*Desktop en laptop*/
@media (max-width:80em) {}

/*tablets landscape mode*/
@media (max-width:60em) {
    h1 {
        font-size: 2.5em;
    }
    #start main{
        padding: 7em 2em;
    }
    #start section {
        padding-bottom: 0em;
    }
    #start .description, #start figure, #editor main, #editor aside{
        float: unset;
        width: unset;
        margin: 0 auto;
        max-width: 35em;
        min-height: unset;
    }
    #finaldesign .shirteditor aside, #finaldesign .shirteditor main {
        float: unset;
        width: unset;
        margin: 0 auto;
        max-width: 30em;
    }
    #finaldesign .shirteditor {
        padding-bottom: 6em;
    }
    #finaldesign .settings {
        position: absolute;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
textarea#url {
    opacity: 0;
    height: 0;
    width: 0;
    z-index: -999;
    position: absolute;
}
/*tablets portrait mode*/
@media (max-width:45em) {

    #music-libary section .results {
        grid-template-columns: 1fr 1fr;
    }
}



/*mobile */
@media (max-width:30em) {
    #music-libary section .results {
        grid-template-columns: 1fr;
    }
}

/****************************/
/*+++++++++++++++++++++++*/


@keyframes colorshift
{
    
      0% {
        background-position:0%  100%;
      }
      50% {
        background-position:100%  100%;
      }

      100% {
        background-position:0%  100%;
      }
      
}