<!DOCTYPE html>
<html lang="en">


    <%- include ('../partials/head.ejs') %>

<body id="editor">
    <nav>

    </nav>
<section>
    <h1>Design your own nerdy t-shirt</h1>
<p>Designing Custom T-shirts Has Never Been Easier!.</p>
</section>
<div class="shirteditor">
        <aside>
            <section>
            
  
                <% if(queries.shirtText) { %>
                    <h2><%= queries.shirtText %></h2>
                <% } %>
                <img id='shirtcanvas' src="../source/pictures/shirts/white.jpg" alt="shirt canvas">
        </section>
        </aside>

        <main>
            <section>
            

                <form action="/editor-step2">
                <!-- <fieldset>
                    <legend>Text</legend>
                    <input type="text" id="Shirttext" placeholder="Text Here">
                    <button type="button" id="textInputButton">Add text</button>
                </fieldset> -->
                <fieldset class="font">
                    <legend>Basic Font</legend>
                    <select id="font">
                        <option value="Default-font" >Default</option>
                        <option value="Streamstar-font" >Streamstar</option>
                        <option value="Nixies-font" >Nixies</option>
                      </select>

                    <!-- <label for="Default-font">Default-font
                        <input type="radio" checked>
                        <span class ="label-text">Default-font</span></label>
                    <label for="font2">
                        <input type="radio" id="Streamstar-font" name="font2" >
                        
                    <label for="font3">
                        <input type="radio" id="Learningblocks-font" name="font3">
                        <span class ="label-text">Nixies</span></label> -->
                <!-- </fieldset>
                <fieldset>
                    <legend>Text color</legend>
                    <label for="Black-textcolor">
                        <input type="radio" id="Black-textcolor" name="textcolor" value="#000" checked>
                        <span class ="label-text">Soul Black</span></label>
                    <label for="White-textcolor">
                        <input type="radio" id="White-textcolor" name="textcolor">
                        <span class ="label-text">Ghost White</span></label> -->
                    <!-- <label for="font3">
                        <input type="radio" id="Black-textcolor" name="textcolor">
                        <span class ="label-text">Font1</span></label></label> -->
                <!-- </fieldset>
                <fieldset>
                    <legend>Shirt Color</legend>
                    <label for="White-shirtcolor">
                        <input type="radio" id="White-shirtcolor" name="shirtcolor" checked>
                        <span class ="label-text">Ghost White</span></label>
                    <label for="Yellow-shirtcolor">
                        <input type="radio" id="Yellow-shirtcolor" name="shirtcolor" >
                        <span class ="label-text">Banana Yellow</span>
                        
                        
                    </label>
                    <label for="Red-shirtcolor">
                        <input type="radio" id="Red-shirtcolor" name="shirtcolor">
                        <span class ="label-text">BloodyMary Red</span> </label>
                    <label for="Blue-shirtcolor">
                        <input type="radio" id="Blue-shirtcolor" name="shirtcolor">
                        <span class ="label-text">Blizzard Blue</span></label>
                </fieldset> -->
                <!-- <fieldset>
                    <legend>Shirt pattern</legend>
                    <label for="font1">
                        <input type="radio" id="font1" name="shirtpatern">
                        Font1</label>
                    <label for="font2">
                        <input type="radio" id="font2" name="shirtpatern">
                        Font2</label>
                    <label for="font3">
                        <input type="radio" id="font3" name="shirtpatern">
                        Font3</label>
                </fieldset> -->
                <input type="submit" value="Submit" formaction="/editor-step3">


            </form>
        </section>
        </main>
        </div>

 



    <script src="js/script.js"></script>


</body>


</html>