<!DOCTYPE html>
<html lang="en">


    <%- include ('../partials/head.ejs') %>

<body id="editor">
    <%- include ('../partials/nav.ejs') %>
    <section>
        <h1>Designing Custom T-shirts Has Never Been Easier!.</h1>

    </section>
    <div class="shirteditor">
        <aside>
            <section>


                <h2 id="textcanvas">Text</h2>
                <img id='shirtcanvas' src="../source/pictures/shirts/whiteshirt.jpg" alt="shirt canvas">
            </section>
        </aside>

        <main>
            <section>
                <h2>editor</h2>
                <form action="/editor-finaldesign">
                    <form action="/final work">
                        <fieldset>
                            <legend>Text</legend>
                            <input type="text" id="Shirttext" name="shirtText" value="<%= queries.shirtText %>"
                                placeholder="Text Here">
                            <button type="button" id="textInputButton">Add text</button>
                        </fieldset>
                        <fieldset class="font">
                            <legend>Basic Font</legend>
                         

                            <label for="Default-font">

                                <input type="radio" id="Default-font" name="textFont" value="Default-font" checked>
                    
                                <span class="">Default</span></label>

                            <label for="Streamstar-font">
                                <input type="radio" id="Streamstar-font" name="textFont" value="Streamstar"
                                    <% if (queries.textFont == "Streamstar") { %> <% } %>> 
                                    <span class="">Streamstar</span></label>

                                    <label for="Learningblocks-font">
                                <input type="radio" id="Learningblocks-font" name="textFont" value="Nixies"
                                    <% if (queries.textFont == "Nixies") { %> <% } %>> 
                                    <span class="">Nixies</span></label>
                                    
                             
                        </fieldset>
                        <fieldset>
                            <legend>Text color</legend>
                            <label for="Black-textcolor">

                                <input type="radio" id="Black-textcolor" name="textColor" value="#000"
                                    <% if (queries.textColor == "#000") { %> <% } %>>
                                <span class="label-text">Soul Black</span> </label>


                            <label for="White-textcolor">

                                <input type="radio" id="White-textcolor" name="textColor" value="#fff"
                                    <% if (queries.textColor == "#fff") { %> <% } %>>
                                <span class="label-text">Ghost White</span> </label>

                        </fieldset>
                        <fieldset>
                            <legend>Shirt Color</legend>

                            <label for="White-shirtcolor">
                                <input type="radio" id="White-shirtcolor" name="shirtColor" value="whiteshirt"
                                    <% if (queries.shirtColor == "redshirt") { %> <% } %>>
                                <span class="label-text">Ghost White</span> </label>

                            <label for="Yellow-shirtcolor">
                                <input type="radio" id="Yellow-shirtcolor" name="shirtColor" value="yellowshirt"
                                    <% if (queries.shirtColor == "yellowshirt") { %> <% } %>>
                                <span class="label-text">Banana Yellow</span>
                            </label>

                            <label for="Red-shirtcolor">
                                <input type="radio" id="Red-shirtcolor" name="shirtColor" value="redshirt"
                                    <% if (queries.shirtColor == "redshirt") { %> <% } %>>
                                <span class="label-text">Bloody Red</span>
                            </label>

                            <label for="Blue-shirtcolor">
                                <input type="radio" id="Blue-shirtcolor" name="shirtColor" value="blueshirt"
                                    <% if (queries.shirtColor == "blueshirt") { %> <% } %>>
                                <span class="label-text">Blizzard Blue</span>
                            </label>

                        </fieldset>
                        <button type="submit" value="Submit">Submit</button>


                    </form>
            </section>
        </main>
    </div>





    <script src="js/script.js"></script>


</body>


</html>