<!DOCTYPE html>
<html lang="en">

<head>
    <title>Nerdy shirt ink</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet" />
</head>

<body id="start">
    <nav>

    </nav>
    <main>

        <h1>Nerdyshirt-ink</h1>
        <strong>Designing a shirt was never been easier</strong>
        <p>
            <a href="/editor-step1" alt="Design shirt step 1">Design shirt</a>
            <a href="/buildshirt1" alt="Design shirt step 1">Edit design</a>
        </p>
    </main>

    <section>
        <h2>What are the steps</h2>
    </section>
    <section>
        <div class='description'>
            <h2>Step 1: Shirt color</h2>
            Pick a color for your shirt
        </div>
        <figure></figure>
    </section>
    <section>
        <div class='description'>
            <h2>Step 2: Add text </h2>
            Add text to your shirt
        </div>
        <figure></figure>
    </section>
    <section>
        <div class='description'>
            <h2>3. Text font </h2>
            Choose a font to make your shirt more nerdy.
        </div>
        <figure></figure>
    </section>
    <section>
        <div class='description'>
            <h2>4. Text Color </h2>
            Choose a color for your text.
        </div>
        <figure></figure>
    </section>





    <!-- <script src="js/script.js"></script> -->


</body>


</html>