<!DOCTYPE html>
<html lang="en">


    <%- include ('../partials/head.ejs') %>

<body id="start">
  
    <main>
<section>
        <h1>Nerdyshirt-ink</h1>
        <p>Designing a shirt was never been easier</p>
        <p>
            <a href="/editor-step1" alt="Design shirt step 1">Design shirt</a>
            <!-- <a href="/buildshirt1" alt="Design shirt step 1">Edit design</a> -->
        </p>
    </section>
    </main>

    <section>
        <h2>Preview from some nerdy shirts</h2>
        <div class="previews">
            <figure> <img id="" src="../source/pictures/previews/preview1.png" alt="shirt canvas"></figure>
            <figure> <img id="" src="../source/pictures/previews/preview2.png" alt="shirt canvas"></figure>
            <figure> <img id="" src="../source/pictures/previews/preview3.png" alt="shirt canvas"></figure>
            <figure> <img id="" src="../source/pictures/previews/preview4.png" alt="shirt canvas"></figure>
            <figure> <img id="" src="../source/pictures/previews/preview5.png" alt="shirt canvas"></figure>
            <figure> <img id="" src="../source/pictures/previews/preview6.png" alt="shirt canvas"></figure>
            <figure> <img id="" src="../source/pictures/previews/preview7.png" alt="shirt canvas"></figure>
            <figure> <img id="" src="../source/pictures/previews/preview8.png" alt="shirt canvas"></figure>
           
     
        </div>
    </section>
    

    <!-- <script src="js/script.js"></script> -->


</body>


</html>