<!DOCTYPE html>
<html lang="en">


    <%- include ('../partials/head.ejs') %>

<body id="start">
  
    <main>

        <h1>Nerdyshirt-ink</h1>
        <strong>Designing a shirt was never been easier</strong>
        <p>
            <a href="/editor-step1" alt="Design shirt step 1">Design shirt</a>
            <a href="/buildshirt1" alt="Design shirt step 1">Edit design</a>
        </p>
    </main>

    <section>
        <h2>What are the steps</h2>
    </section>
    <section>
        <div class='description'>
            <h2>Step 1: Shirt color</h2>
            Pick a color for your shirt
        </div>
        <figure> <img id="" src="../source/pictures/shirts/whiteshirt.jpg" alt="shirt canvas"></figure>
    </section>
    <section>
        <div class='description'>
            <h2>Step 2: Add text </h2>
            Add text to your shirt
        </div>
        <figure>
            <img id="" src="../source/pictures/shirts/whiteshirt.jpg" alt="shirt canvas">
        </figure>
    </section>
    <section>
        <div class='description'>
            <h2>3. Text font </h2>
            Choose a font to make your shirt more nerdy.
        </div>
        <figure> <img id="" src="../source/pictures/shirts/whiteshirt.jpg" alt="shirt canvas"></figure>
    </section>
    <section>
        <div class='description'>
            <h2>4. Text Color </h2>
            Choose a color for your text.
        </div>
        <figure> <img id="" src="../source/pictures/shirts/whiteshirt.jpg" alt="shirt canvas"></figure>
    </section>





    <!-- <script src="js/script.js"></script> -->


</body>


</html>